{% extends 'caixa/base.html' %}
{% load static %}

{% block titulo %}Confirmação{% endblock %}

{% block estilos %}
<style>
  html, body {
    overflow-y: auto !important;
    height: auto !important;
  }

  .scene {
    position: relative;
    /* width: 100vw; */
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 3vw;
    padding: 2vh 3vw;
    box-sizing: border-box;
    background-color: #FBE7D6;
  }

  .area-central {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5vh;
    height: stretch;
    justify-content: center;
    padding-inline: 5vw;
  }

  .titulo {
    font-size: 4rem;
    color: #A34B17;
  }

  .troco-lista{
    display:flex;
    flex-direction:column;
    gap:2vh;
    margin-top:3vh;
  }

  .troco-item{
    display:flex;
    align-items:center;
    gap:2vw;

    background:white;
    padding:1rem 2rem;
    border-radius:20px;

    box-shadow:0 4px 10px rgba(0,0,0,0.08);
  }

  .troco-img{
    width:120px;
    object-fit:contain;
  }

  .troco-info{
    display:flex;
    flex-direction:column;
  }

  .troco-qtd{
    font-size:2rem;
    color:#A34B17;
  }

  .troco-valor{
    font-family: "Tasty Matcha", sans-serif;
    font-size: clamp(1.5rem, 1.5vw, 1.5rem);
    color: #A34B17;
    letter-spacing: -0.05em;
    text-shadow:
      -6px -6px 0 #FBE7D6,  6px -6px 0 #FBE7D6,
      -6px  6px 0 #FBE7D6,  6px  6px 0 #FBE7D6,
       0px -6px 0 #FBE7D6,  0px  6px 0 #FBE7D6,
      -6px  0px 0 #FBE7D6,  6px  0px 0 #FBE7D6;
  }
</style>
{% endblock %}

{% block conteudo %}

<div class="scene">

    <div class="area-central">

        <h1 class="titulo">RECEBA SEU TROCO</h1>

        <p class="troco-valor">Total da compra: R$ {{ total_compra|floatformat:2 }}</p>
        <p class="troco-valor">Valor pago: R$ {{ pago|floatformat:2 }}</p>
        <p class="troco-valor"><strong>Troco: R$ {{ troco|floatformat:2 }}</strong></p>

        <div>
          <div class="troco-lista">

            {% for item in troco_itens %}

              <div class="troco-item">
                <img src="{% static item.imagem %}" alt="Dinheiro" class="troco-img">
                <div class="troco-info">
                  <span class="troco-qtd">
                    {{ item.qtd }}x
                  </span>
                  <span class="troco-valor">
                    R$ {{ item.valor|floatformat:2 }}
                  </span>
                </div>
              </div>

            {% endfor %}

          </div>
        </div>

        {% include 'caixa/components/btn_play.html' with texto="VOLTAR PARA O INICIO" onclick="voltarParaInicio()" %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  function voltarParaInicio() {
    const audio = new Audio("{% static 'caixa/track/sucesso.mp3' %}");
    audio.play();
    audio.onended = () => window.location.href = '/';
  }
</script>
{% endblock %}