{% load static %}

<button class="btn-play-custom" onclick="{{ onclick }}">
  <div class="btn-play-inner">
    <span class="btn-play-texto">{{ texto }}</span>
  </div>
</button>

<style>
  .btn-play-custom {
    display: inline-flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 80px;
    background: linear-gradient(0deg, #C04B06 -29.38%, #F5AB10 48.44%, #FEDE60 126.25%);
    cursor: pointer;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
    border: 1px solid #AD5014;
  }

  .btn-play-custom:hover {
    transform: scale(1.05);
    /* box-shadow: 0 8px 32px rgba(192, 75, 6, 0.35); */
  }

  .btn-play-custom:active {
    transform: scale(0.97);
  }

  .btn-border{
    display: flex;
    /* width: 310px; */
    padding: 4px;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 10px; */
    border-radius: 80px;
    background: linear-gradient(0deg, #FFE577 0%, #F4A70D 100%);
  }

  .btn-play-inner {
    display: flex;
    /* height: 80px; */
    padding-inline: 16px;
    padding-block: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 80px;
    background: linear-gradient(0deg, #FDD938 0%, #F5AF14 64.38%, #C04C05 128.75%);
  }

  .btn-play-texto {
    /* text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.40); */
    font-family: "Tasty Matcha";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(93deg, #B35701 1.22%, #9E471D 99.02%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

</style>